.animal-show {
  position: relative;
  border: 1px solid lightcyan;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 3px 4px rgb(100, 107, 100);
}

.heart {
  position: absolute;
  bottom: 5%;
  right: 15%;
}
